<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link href="/handelshistorik.css" rel="stylesheet">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"> <!--Linker til de ikoner vi bruger-->
</head>

<body> 
  <!-- Sidemenu -->
  <div class="sidemenu">
    <div class="WebappLogo">
      <img src="/logo.jpeg" alt="WebappLogo"> 
    </div>

    <button class="pil" onclick="skiftMenu()"> <!--Knap til at åbne og lukke side menuen-->
      <i class='bx bxs-chevron-left'></i>  <!--ikon-->
    </button>

  <!--Navigations menu-->
    <ul class="menuValg">
      <li><a href="/dashboard"><i class='bx bx-home'></i>Dashboard</a></li>
      <li><a href="/konto/oversigt"><i class='bx bxs-user-account'></i>Konti</a></li>
      <li><a href="/portefolje/oversigt"><i class='bx bx-doughnut-chart'></i>Porteføljer</a></li>
      <li><a href="/indstillinger"><i class='bx bx-cog'></i>Indstillinger</a></li>
    </ul>

  <!--Log ud knap-->
    <ul class="logUd">
      <li><a href="/login"><i class='bx bx-log-out'></i>Log ud</a></li>
    </ul>
  </div>


<!--Midtboks transaktionsoversigt-->
<div class="midtBoks">
    <h3>Transaktionsoversigt for <%= portefølje.navn %></h3>
  </h3> 
    
    <!--Overskrifter for hver kolonne i listen-->
    <div class="listeOverskrifter">
      <span>Transaktionstype</span> 
      <span>Værdi type</span>
      <span>Kurs</span> 
      <span>Antal</span>
      <span>Dato</span> 
      <span>Tidspunkt</span> 
      <span>Gebyr</span> 
      <span>Symbol</span> 
     
    </div>
  
  <!--starter ejs if sætning, tjekker om der findes transaktioner-->
    <% if (transaktioner.length > 0) { %> 
  
    <!--løber igennem alle transaktioner-->
      <% transaktioner.forEach(t => { %> 
        
        <!--En række for hver transaktion-->
        <div class="transaktionRække">
            <div><%= t.transaktionstype %></div>
            <div><%= t.værditype %></div>
            <div><%= new Intl.NumberFormat('da-DK').format(t.pris) %> kr</div> <!--pris med KR-->
            <div><%= t.antal %></div>
            <div><%= new Date(t.dato).toLocaleDateString('da-DK') %></div>
            <%= new Date(t.tidspunkt).toLocaleTimeString('da-DK', { hour: '2-digit', minute: '2-digit' }) %>
            <div><%= t.gebyr %> kr</div>
            <div><%= t.tickerSymbol %></div>
        </div> 
      <% }); %> <!--Slut på forEach-->
  
    <% } else { %>
      <p>Ingen transaktioner fundet endnu.</p> <!--Hvis der ingen transaktioner findes-->
    <% } %> 
  </div> 


</body> 

