<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/kontiOversigt.css" rel="stylesheet">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  <title>Konti oversigt</title>
</head>

<body>

  <!--sidemenu-->
  <div class="sidemenu">
    <div class="WebappLogo">
      <img src="/logo.jpeg" alt="WebappLogo">
    </div>

    <button class="pil" onclick="skiftMenu()"> 
      <i class='bx bxs-chevron-left'></i>
    </button>

    <ul class="menuValg">
      <li><a href="/dashboard"><i class='bx bx-home'></i>Dashboard</a></li>
      <li><a href="/konto/oversigt"><i class='bx bxs-user-account'></i>Konti</a></li>
      <li><a href="/portefolje/oversigt"><i class='bx bx-doughnut-chart'></i>Porteføljer</a></li>
      <li><a href="/indstillinger"><i class='bx bx-cog'></i>Indstillinger</a></li>
    </ul>

    <ul class="logUd">
      <li><a href="/login"><i class='bx bx-log-out'></i>Log ud</a></li>
    </ul>
  </div>


  <!--indhold på siden-->
  <div class="indhold">
    <h1 class="overskrift">Konti oversigt</h1>

    <!--knap til oprette en ny konto-->
    <div class="tilføjKnapBox">
      <a href="/konto/opret" class="tilføjKnap">Opret ny konto</a> <!--link til opret konto siden-->
    </div> 

    <!--boks der indholder en oversigt over eksisterende konti-->
    <div class="oversigtBox">
      <h3>Oversigt over konti</h3>

      <!--række med kolonne overskrifter-->
      <div class="listeOverskrifter">
        <span>Konti Navn</span>
        <span>Saldo</span>
        <span>Valuta</span>
        <span>Dato Oprettelse</span>
        <span>Bankreference</span>
      </div>

      
      
      <% if (konti.length > 0) { %> <!--tjekker om konti arrayet har nogle konti-->
        <% konti.forEach(k => { %> <!--løber igennem hver konto i arrayet, k står for hvert objekt-->
          <a href="/konto/<%= k.kontoID %>" class="kontoRækkeLink"> <!--hver konti bliver et klikbart link til kontoens detaljer-->
            
            <div class="kontoRække"> <!--visning af kontoens data-->
              <div><%= k.kontonavn %></div> 
              <div><%= new Intl.NumberFormat('da-DK').format(k.saldo) %></div> 
              <div><%= k.valuta %></div>
              <div><%= new Date(k.oprettelsesdato).toLocaleDateString('da-DK')%></div> 
              <div><%= k.bankreference %></div> 
            </div>
          </a>
        <% }); %>

      <% } else { %>
        <p>Ingen konto fundet.</p> <!--hvis ingen konto er fundet-->
      <% } %>
    </div> 
    </div> 
  </div> 

<!--åbne og lukke side menuen-->
  <script>
    const sidemenu = document.querySelector('.sidemenu');
    function skiftMenu() {
      sidemenu.classList.toggle('lukket');
    }
  </script>

</body>
</html>
