<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/kontiOversigt.css" rel="stylesheet">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  <title>Konti oversigt</title>
</head>

<body>

  <!-- Sidemenu -->
  <div class="sidemenu">
    <div class="WebappLogo">
      <img src="/logo.jpeg" alt="WebappLogo">
    </div>

    <button class="pil" onclick="skiftMenu()"> 
      <i class='bx bxs-chevron-left'></i>
    </button>

    <ul class="menuValg">
      <li><a href="/dashboard"><i class='bx bx-home'></i>Dashboard</a></li>
      <li><a href="/kontiOversigt"><i class='bx bxs-user-account'></i>Konti</a></li>
      <li><a href="/portefoljeOversigt"><i class='bx bx-doughnut-chart'></i>Porteføljer</a></li>
      <li><a href="/indstillinger"><i class='bx bx-cog'></i>Indstillinger</a></li>
    </ul>

    <ul class="logUd">
      <li><a href="/login"><i class='bx bx-log-out'></i>Log ud</a></li>
    </ul>
  </div>

  <!-- Indhold -->
  <div class="indhold">

    <h1 class="overskrift">Konti oversigt</h1>

    <div class="tilføjKnapBox">
      <a href="/tilfojKonto" class="tilføjKnap">Opret ny konto</a>
    </div> 

    <div class="oversigtBox">
      <h3>Oversigt over konti</h3>

      <div class="listeOverskrifter">
        <span>Konti Navn</span>
        <span>Saldo</span>
        <span>Valuta</span>
        <span>Dato Oprettelse</span>
        <span>Bankreference</span>
        <span>Aktiv/deaktiv</span>
      </div>

      <!--Det array der er lavet i app.js, gennemgår den nu. Der er tale om et array, hvorfor vi kan lave .length på den-->

      <!--Hvis konti listen IKKE er tom, gør den følgende-->
      <% if (konti.length > 0) { %> 

        <!--Laver en forløkke gennem hvert objekt i listen. Her står k for hvert objekt. Den gennemgår altså alt der er i arrayet, herunder navn, saldo, valuta osv.-->
        <% konti.forEach(k => { %> 
          <a href="/konti/<%= k.kontoID %>" class="kontoRækkeLink">
            <div class="kontoRække"> 
              <div><%= k.kontonavn %></div> 
              <div><%= new Intl.NumberFormat('da-DK').format(k.saldo) %></div> 
              <div><%= k.valuta %></div>
              <div><%= new Date(k.oprettelsesdato).toLocaleDateString('da-DK')%></div> <!--Mangler forklaring-->
              <div><%= k.bankreference %></div> 
              <div><%=k.aktiv %></div>
            </div>
          </a>
    
        <% }); %>
      <% } else { %>
        <p>Ingen konto fundet.</p>
      <% } %>
    </div> <!-- Lukker oversigtBox -->
    

    </div> <!-- Lukker oversigtBox -->

  </div> <!-- Lukker indhold -->

  <script>
    const sidemenu = document.querySelector('.sidemenu');
    function skiftMenu() {
      sidemenu.classList.toggle('lukket');
    }
  </script>

</body>
</html>
