<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Sælg værdipapir</title>
  <link href="/sellPapir.css" rel="stylesheet" />
</head>
<body>
   <!--formular til at sælge værdipapir-->
  <div class="sælgVærdipapir">
    <h3>Sælg værdipapir <%= værdipapir.navn %></h3>
    <form action="/portefolje/vaerdipapir/<%= værdipapir.værdipapirID %>/sellPapir" method="POST">

      <div class="speciel">
        <label>Pris per stk.</label>
        <input type="text" name="pris" value="<%= pris %>" readonly />
      </div>
      
      <div class="opretBox">
        <input type="number" name="antal" placeholder="Antal du ønsker at sælge" required />
      </div>

      <div class="opretBox">
        <label>Penge indsættes på <%= konto.kontoID%></label>
        <input type="hidden" name="kontoID" value="<%= konto.kontoID %>">
      </div>
      

      <p class="gebyrInfo">Vær OBS på der er et fast gebyr på 19 kr. ved salg af værdipapirer.</p>
      
       <!--skjulte input, der er nødvendige for serveren for at identificere den enkelte sælger og dets tilhørende elementer-->
      <input type="hidden" name="porteføljeID" value="<%= porteføljeID %>" />
      <input type="hidden" name="værdipapirID" value="<%= værdipapir.værdipapirID %>" />
      <input type="hidden" name="transaktionstype" value="salg" />
      <input type="hidden" name="værditype" value="<%= værditype %>" />
      <input type="hidden" name="tickerSymbol" value="<%= tickerSymbol %>" />
      <input type="hidden" name="navn" value="<%= navn %>" />
      <input type="hidden" name="tidspunkt" value="<%= tidspunkt %>" />

      <button id="sendFormular" type="submit">Bekræft salg</button>
    </form>
  </div>
</body>
</html>
