<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaerdipapir</title>
    <link href="vaerdipapir.css" rel="stylesheet">

</head>
<body>
<!-- Øverste sektion -->
<div class="øverste">
    <div class="grafboks">
      <h3>Samlet værdi</h3>
      <% if (værdipapirer.length > 0) { %>
        <p><%= samletVærdi.toLocaleString('da-DK', { style: 'currency', currency: 'DKK' }) %></p>
      <% } else { %>
        <p><em>Ingen værdipapirer i porteføljen endnu</em></p>
      <% } %>
    </div>

    <!-- Oversigt over værdipapirer -->
    <div class="oversigtBox">
        <h3>Værdipapirer i portefølje</h3>
        <div class="listeOverskrifter">
          <span>Navn</span>
          <span>Type</span>
          <span>Symbol</span>
          <span>Antal</span>
          <span>Pris</span>
          <span>Værdi</span>
          <span>GAK</span>
        </div>
  
        <% if (værdipapirer.length > 0) { %>
          <% værdipapirer.forEach(p => { %> 
            <div class="aktieRække"> 
              <div><%= p.navn || 'Ukendt' %></div> 
              <div><%= p.type || 'Ukendt' %></div> 
              <div><%= p.tickerSymbol || 'Ukendt' %></div>
              <div><%= !isNaN(p.antal) ? p.antal : 'Ukendt' %></div>
              <div><%= !isNaN(p.pris) ? parseFloat(p.pris).toFixed(2) + ' DKK' : 'Ukendt' %></div>
              <div>
                <%= !isNaN(p.forventetVærdi) ? parseFloat(p.forventetVærdi).toFixed(2) + ' DKK' : 'Ukendt værdi' %>
              </div>
              <div><%= p.GAK || 'Ukendt' %></div>
            </div>
          <% }) %>
        <% } else { %>
          <p><em>Ingen værdipapirer fundet endnu.</em></p>
        <% } %>
      </div> 

      <a href="/portefolje/<%= p.porteføljeID %>" 

    
</body>
</html>